body {
  background-color: #93B3CF;
  font-family: google-sans, cursive;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
}
h1 {
  text-align: center;
  justify-content: center;
  font-size: 64px;
  margin-bottom: 5px;
  color: white;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000; 
}
h2{
  font-size: 24px;
  color: white;
  background: transparent;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 12px;
  text-shadow:
  -1px -1px 0 #1f1f1f,
  1px -1px 0 #1f1f1f,
  -1px 1px 0 #1f1f1f,
  1px 1px 0 #1f1f1f;
}
.maincontent {
  border-width: 15px;
  background-color: #7AA0CB;
  padding-left: 10px;
  padding: 1.5%;
  font-family: google-sans, cursive;
  border:4px solid #1f1f1f;
  border-radius: 6px;
}
h3{
  
}
a{
  text-decoration: none;
  background: transparent;
  padding: 12px 16px;
  border-radius: 3px;
  outline: 2px solid #1f1f1f;
}
a:hover{
  text-decoration: underline;
  background: #897cac;
  text-shadow:
  -1px -1px 0 #1f1f1f,
  1px -1px 0 #1f1f1f,
  -1px 1px 0 #1f1f1f,
  1px 1px 0 #1f1f1f;
}
a:visited{
  color: white;
}
a:link{
  color: white;
}
